svg {
  font: 11px sans-serif;
}

path {
  fill: none;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.axis .title { font-weight: bold; }